@inherits LayoutComponentBase
@inject NavigationManager NavManager

<nav class="bg-green-900 text-white px-4 py-2">
    <a href="/" class="mx-5 hover:text-gray-400">Uvítací stránka</a>
    <a href="hra" class="mx-5 hover:text-gray-400">Hra</a>
    <a href="vybaveni_nemocnice" class="mx-5 hover:text-gray-400">Vybavení nemocnice</a>
    <a href="https://www.fbmi.cvut.cz/cs/home" class="mx-5 hover:text-gray-400">Fakultní web</a>
</nav>

<main>
    @Body
</main>
