@page "/revize/{Id}"
@using Ppt23.Client.Components
@using Ppt23.Shared
@inject HttpClient Http

<h1 class="text-green-500">@Id</h1>
<input class="border-2" type="text" @bind-value="inputText" />
<button type="submit" class="twbtn bg-yellow-500 border-2" @onclick="() => Hledej()">Hledej</button>

@if (seznamRevizi is not null)
{
    <div class="grid grid-cols-2">

        @foreach (RevizeViewModel r in seznamRevizi)
        {
            <div> Id: @r.Id </div>
            <div> Nazev: @r.Name</div>
        }
    </div>
}

@code {
    [Parameter] public string Id { get; set; } = "ahoj";

    private string? inputText { get; set; }

    List<RevizeViewModel>? seznamRevizi;

    private async void Hledej()
    {
        seznamRevizi = await Http.GetFromJsonAsync<List<RevizeViewModel>>($"revize/{inputText}");
        return;
    }
}
