@page "/vybaveni/{Id:guid}"
@using Ppt23.Shared
@using Ppt23.Client.Components
@inject HttpClient Http

@if (vybaveni == null) return;

<h3>VybaveniDetail @Id</h3>
<div class="grid grid-cols-2">
    <div>Název</div>
    <div>@vybaveni.Name</div>
</div>

<div class="flex flex-col mx-5 ">
    <div class="text-bold text-xl">Revize:</div>
    @foreach (var rev in vybaveni.Revizes.OrderByDescending(x => x.DateTime))
    {
        <div>@rev.Name - @rev.DateTime.ToString("yyyy-MM-dd")</div>
    }
</div>

@code {
    [Parameter] public Guid Id { get; set; }
    VybaveniSrevizemaVM? vybaveni;

    protected override async Task OnInitializedAsync()
    {
        // var vyb = await Http.GetFromJsonAsync<VybaveniVM>($"vybaveni/{Id}");
        // vybaveni = vyb;

        vybaveni = await Http.GetFromJsonAsync<VybaveniSrevizemaVM>($"vybaveni/{Id}");
    }
}
